{% extends "base.html" %}
{% block content %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form method="POST" action="">
    {% csrf_token %}
    {%for data in obj%}
    {{data.label_tag}} {{data}} {{data.errors|striptags}}<br><br>
    {%endfor%}
    <input type="submit" value="submit" name="submit" class="btn btn-info">
  </form>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <div class="tab-pane" id="billing">
    <div class="form-group">
      {%for a in dataset%}
      <address class="vcard">
        <span class="fn org">{{a.first_name}}</span>
        <span>{{a.last_name}}</span><br>
        <span>{{a.address}}</span><br>
        <span>{{a.city}}</span>
        <span>{{a.pincode}}</span><br>
        <span>{{a.mobile_no}}</span>
        <a button href="{%url 'updateAddress' a.id %}" class="btn" type="button"> Edit </a>
        <a button class="cart_quantity_delete" href="{%url 'delete_address' a.id %}" data-id="{{a.id}}" type="button">Delete</a> 
      </address>
      {%endfor%}
      <a href="/add_address" button class="btn btn-info" type="button">Add Address</a>
    </div>
  </div>
</body>

{%endblock%}